@{
    ViewBag.Title = "Images";
}
<ul>
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <li>
                @item
            </li>
        }

    }
</ul>